@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #003c64;
    --text-color: #11011d;
    --button-color: #87CEEB;
    --link-color: #033e52;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: unset;
}

.container {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #04043a;
    width: 100%;
    padding: 22px;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.main {
    margin-top: 20px;
    width: 70%;
    height: 100%;
}

.list-task {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 5px;
    border: 1px solid none;
    border-radius: 10px;
}

.checkbox-content {
    display: flex;
    align-items: center;
    gap: 6px;
}

.edit-delete-task {
    display: flex;
    gap: 6px;
}

.icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.bt-icon {
    all: unset;
}

.bt-icon:hover {
    zoom: 1.05;
}

.task-item:hover {
    zoom: 1.05;
}

.no-task{
    color: red;
    font-size: larger;
    text-align: center;
}

/* STYLES TO FORM ADD AND EDIT TASK */

.create-task {
    display: none;
    flex-direction: column;
    margin: 250px 450px;
    width: 35%;
    height: 30%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--background-color) ;
    padding: 10px;
    border: 2px solid none;
    border-radius: 8px;
}

.edit-task {
    display: none;
    flex-direction: column;
    margin: 250px 450px;
    width: 35%;
    height: 30%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--background-color) ;
    padding: 10px;
    border: 2px solid none;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80;
    height: 80%;
    /* background-color: red; */
}

.icon-back {
    display: flex;
    flex-direction: column;
    align-items: end;
}

input {
    border: 2px solid #008080;
    border-radius: 5px;
    padding: 8px;
}

.bt-create-task {
    background-color: var(--button-color);
    width: 100%;
    padding: 8px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 2px solid #4169E1;
    border-radius: 5px;
}

.bt-create-task:hover {
    zoom: 1.01;
    background-color: #4682B4;
}

/* STYLES BUTTON ADD TASK */

.header-text {
    width: 100%;
    text-align: center;
}

.add-task-button {
    all: unset;
    display: flex;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-right: 6px;
    border: 2px solid none;
    border-radius: 8px;
    cursor: pointer;
}

.add-task-text {
    font-size: medium;
}